/* Put your CSS rules here: */
.picture_container {
	border: 10px solid blue;
	padding-top: 10px;
	padding-right: 10px;
	background-color: black;
}

.bold {
	font-weight: bold;
}

.bold_italic {
	font-weight: bold;
	font-style: italic; 
}

.bold_italic_under {
	font-weight: bold;
	font-style: italic; 
	text-decoration: underline;
}

.tiled_container > div {
	width: 100%;
	background-color: white;
	height: 10px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

/* These are for the exercise, please don't edit them! */
html,body{margin:0;padding:0;}
body{font-family:sans-serif;}
.content{width:980px;padding:10px;}
